.header_inner {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
}

.header_logo {
  display: block;
  width: 50px;
  height: 50px;
  background: #000;
}

.header_nav {}

.header_list {
  display: flex;
  gap: 20px;
}

.header_item {
  list-style: none;
}

.header_link, .header_phone {
  color: #000;
  
}