* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 375px;
}
.container{
  padding: 0 15px ;
  margin: 0 auto;
  max-width: 1280px;
}
.wrapper {
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px 1fr 200px;
}

.header {
  grid-column: 1 / 12 span;
  background: rgb(128, 0, 0);
}

.aside {
   grid-column: 1 / 2 span;
  background: rgb(237, 254, 0);
}

.main {
  grid-column: 3 / 12 span;

  background: rgb(17, 241, 17);
}
.main .container {
height: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 15px;
}
.article {
  width: 100%;
  min-height: 300px;
  height: auto;
  background-color: #ffcc66;
  padding: 15px;
}

.footer {
  grid-column: 1 / 12 span;
  background: #000;
}

@media( width <= 1200px){

  .main .container {

height: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 15px;
}
}
@media( width <= 768px){

  .main .container {
  grid-template-columns: repeat(2, 1fr);

}
}
@media( width <= 576px){

  .main .container {
  grid-template-columns: repeat(1, 1fr);

}

}