.form {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 10px;
  width: 350px;
}

legend {
  margin-bottom: 5px;
  font-weight: 900;
}

.form-group {
  border: none;

}

.input {
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 0 5px 0;
  display: block;
}
.textarea {
  display: block;
    padding: 5px 10px;
  border-radius: 10px;
  resize: vertical;
  width: 165px;
  max-height: 200px;
    min-height: 50px;
  margin-bottom: 10px;
}

.checkbox {
  border-radius: 12px;
}

button{
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;

}
