.wrapper {
  font-family: 'Caveat', cursive;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1250px;


}

.table {
height: 1000px;
width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(139, 72, 4);

}

.letter {
  position: relative;
  padding: 40px;
  width: 400px;
  height: 200px;
  background: #fafbe5;
  ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.letter_title {
  transform: translatey(-20px);
  z-index: 2;

}

.button {
  z-index: 2;
  cursor: pointer;
  padding: 50px;
  border-radius: 50%;
  background: #9a0101;
  border: 20px solid rgb(83, 3, 3);
}

.button:hover {
  background: #d00101;
  border: 20px solid #700303;
}

.letter::before {
  content: "";
  display: block;
  position: absolute;
  top: 72px;
  left: -19px;
  width: 290px;
  height: 2px;
  background: #000;
  transform: rotate(30deg);
}

.letter::after {
  content: "";
  display: block;
  position: absolute;
  top: 73px;
  right: -19.5px;
  width: 290px;
  height: 2px;
  background: #000;
  transform: rotate(330deg);
}

@media(width <= 500px) {
  .letter {
  position: relative;
  padding: 40px;
  width: 300px;
  height: 200px;
  background: #fafbe5;
  ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.button {
  z-index: 2;
  cursor: pointer;
  padding: 50px;
  border-radius: 50%;
  background: #9a0101;
  border: 20px solid rgb(83, 3, 3);
  
      transform: translatey(-20px);
}
}

.modal {
  font-family: 'Caveat', cursive;
  font-size: 44px;
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fafbe5;
  margin: 20% auto;
  padding: 20px;
  border-radius: 5px;

  text-align: center;
}

.text {
  justify-self: start;
  font-size: 36px;
}

.content_list {
  list-style: none;
  font-size: 36px;
}

.list_item {}

.author{
align-self: flex-end;

}

