.product__section {
  padding-top: 20px;
}

.product__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product__title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}

.product__list {
  padding: 30px;
  background: var(--footer-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}

.product__item {
    border: 1px solid var(--secondary-color);
}

.product__img {
  object-fit: cover;
}

.product__img img {
  width: 100%;
}



.product__description {
  max-width: 400px;
  padding: 5px;
}

.product__item-title {
  color: var(--global-color);
  font-family: var(--general-font);
  opacity: .7;
}

.product__item-text {
  color: var(--global-color);
  opacity: .7;
}

@media(width <=992px){
  .product__list {
  grid-template-columns: repeat(2, 1fr);
}
}
@media(width <=578px){
  .product__list {
  grid-template-columns: repeat(1, 1fr);
}
}