.block-1 {
  background: #5c291c;
  height: 118px;
}
.inline {
  color: #e92fe9;
}
.block-inner {
  background: #ff2424;
  width: 100px;
  height: 100px;
}
.block-2 {
  background: #ca4dfc;
  width: 300px;
  height: 100px;
}
.inline2 {
  background: #8a1799;
  color: white;
}