/* base */
@import "./base/bootstrap.min.css";
@import "./base/normalize.css";
@import "./base/fonts.css";
@import "./base/swiper-bundle.min.css";
@import "./base/vars.css";
@import "./base/global.css";
/* blocks */
@import "./blocks/header.css";
@import "./blocks/main.css";
@import "./blocks/footer.css";

