:root {
  --general-text: #312c27;
  --accent-text: #1f1711;
  --uppercase-text: #ceaad0;
  --general-bg: #fff9f4;
  --accent-color: #ffa55c;
  --input-color: #ac907a;
  --accent-bg: #FFE0CB;
  --transition: all 0.4s;
  --border-radius: 20px;
}


.body {
  background: var(--general-bg);
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--general-text);
}

.body--opened-menu {
  overflow: hidden;
}

.body--opened-modal {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.header {
  background: url(../img/decor/bg-img.png) 50% 100% / cover no-repeat;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.company__section {
  padding: 140px 0;
}
.program__section,
.gallery__section,
.testimonials__section {
  padding-bottom: 145px;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-color);
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 3px 15px;
  height: 62px;
    transition: var(--transition);


  background: var(--accent-color);
  height: 62px;
  border-radius: 60px;
  padding: 3px 15px;
  transition: var(--transition);
}

.button:hover {
  background: #ff9138;
}

.title {
  font-family: 'Gabriola';
  font-size: 74px;
  line-height: .82;
  color: var(--accent-text);
}
/* -------------------------------------------- */
.modal {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: #0000006e;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s;

}

.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  position: relative;
  background: var(--general-bg);
  border-radius: var(--border-radius);
  padding: 0 60px 60px;
  max-width: 428px;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal__close-btn path,
.modal__close-btn rect {
  transition: var(--transition);
}

.modal__close-btn:hover path,
.modal__close-btn:hover rect {
  stroke: var(--input-color);
}

.modal__img {
  margin: -65px 0 15px 15px;
  max-width: 100%;
}

.modal__title {
  margin-bottom: 10px;
  line-height: .9;
  font-size: 42px;
}

.modal__text {
  margin-bottom: 30px;
}

.modal__form-label {
  margin-bottom: 10px;
}

.field {
  position: relative;
  display: block;

}

.field span {
  position: absolute;
  top: 12px;
  left: 28px;
  opacity: 0;
  visibility: hidden;
  font-size: 11px;
  color: var(--input-color);
  ;
  transition: var(--transition);
}

.field__input {
  width: 100%;
  display: block;
  padding: 19px 42px 19px 28px;
  border: 1px solid var(--input-color);
  border-radius: 100px;
  background: transparent;
  transition: var(--transition);
}

.field__input::placeholder {
  color: var(--input-color);
  transition: var(--transition);
}

.field__input:hover {
  border: 1px solid #ffa55c;
}

.field__input:focus {
  padding: 26px 42px 12px 28px;
}

.field__input:focus+span {
  opacity: 1;
  visibility: visible;
}

.field__input:hover::placeholder {
  color: #ffa55c;
}

.modal__button {
  width: 100%;

}