@media (max-width: 1200px) {
  .hero__img {
    margin: 0;
    max-width: 377px;
  }

  .hero__img-control {
    position: static;
    max-width: none;
    margin-top: 30px;
  }

  .footer__inner {
    justify-content: space-between;
    grid-template: repeat(2, auto) / repeat(3, auto);

  }

  .footer__col:last-child {

    text-align: center;
    grid-column: 1/-1;
  }

  /* ------------- */
  .program__top {
    flex-direction: column;
    align-items: stretch;
  }

  .tab-controls {
    flex-wrap: wrap;
  }
}

@media (max-width: 1100px) {
  .company__img {
    grid-row: auto;
  }

  .company__body {
    align-self: center;
  }

  .company__grid {
    grid-column: 1/-1;
  }

  /* ------------ */
  .accordion-list__control {
    font-size: 35px;
    padding: 20px 30px;
  }

  .accordion__content {
    gap: 30px;
  }
}

@media (max-width: 900px) {
  .nav {
    position: fixed;
    inset: 0;
    background: var(--general-bg);
    z-index: 10;
    padding: 26vh 15px 30px;
    font-size: 24px;
    transform: translatey(-50%);
    opacity: 0;
    visibility: hidden;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;

  }

  .body--opened-menu .nav {
    transform: translatey(0%);
    opacity: 1;
    visibility: visible;
  }

  .burger-icon {
    display: flex;
  }

  /* ---------------- */
  .footer__inner {
    justify-content: center;
    grid-template: none;
    text-align: center;
    gap: 0;
  }


  .footer__col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__col:first-child {
    margin-bottom: 40px;
  }

  .footer__col:nth-child(2) {
    margin-bottom: 40px;
  }

  .footer__col:nth-child(3) {
    margin-bottom: 10px;
  }

  /* -------------------------*/
  .program__price {
    max-width: none;
    grid-template: repeat(3, 1fr) / minmax(280px, 1fr) 1fr;
  }

  .program__bottom-img {
    display: none;
  }

}

@media (max-width: 800px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: none;
  }

  .hero__img {
    display: none;
  }

  .hero__img-control--mobile {
    display: flex;
    margin-bottom: 0 0 30px;
  }

  /* ---------- */
  .company__inner {
    grid-template: none;
  }

  .company__img {
    max-width: 520px;
    justify-self: center;
  }

  .company__body {
    text-align: center;
  }

  /* -------------------- */
  .tab-controls {
    gap: 10px;
  }

  .tab-controls__link {
    padding: 6px 20px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 12vw;
  }

  /* --------- */
  .company__section {
    padding: 60px 0 80px;
  }

  .company__grid {
    grid-template: none;
    gap: 15px;
  }

  .company__img-conrol {
    bottom: 0;
    left: 0;
    right: 0;
    max-width: none;
    border-radius: 0;
    padding: 10px 15px;
  }

  .title {
    font-size: 12vw;
  }

  .company__grid-item {
    padding: 10px 15px;
  }

  /* -------------- */
  .program__title {
    text-align: center;
  }

  .program__top {
    text-align: center;
    margin-bottom: 20px;
  }

  .program__price {
    max-width: none;
    grid-template: none;
    gap: 15px;
  }

  .price__item {
    text-align: center;
  }

  .program__discount {
    grid-row: auto;
    grid-column: 1/-1;
    justify-self: center;
    text-align: left;
  }
  .price__item{
    text-align: center;
  }
  .tab-controls { 
    justify-content: center;
    text-align: center;
  }

  .accordion__content {
    flex-direction: column;
  }

  .accordion__content-col:first-child {
    max-width: none;
  }

  .accordion__content-text {
    max-width: none;
  }

  .accordion-list__item {
    margin-bottom: 10px;
  }

  .accordion-list__control {
    font-size: 28px;
    padding: 17px 30px;
  }

  .accordion-list__control-icon {
    width: 24px;
    height: 24px;
  }

  .accordion-list__control-icon svg {
    width: 10px;
  }

}



@media (max-width: 450px) {
  .modal__img {
    max-width: 50%;
    margin-top: -32px;
  }

  .modal__title {
    font-size: 35px;
  }

  .modal__window {
    padding: 0 15px 40px;
  }

  /* ------------ */
  .accordion-list__control {
    padding: 17px 15px;
  }

  .accordion__content {
    padding: 0 15px 30px;
  }

  .accordion__content-item {
    margin-bottom: 10px;
  }
}