:root{
--general-font: 'Oswald';
--accent-font: 'Archivo';
--accent-text: #ffffff;
--general-bg : #141414;
--accent-bg :#f47521;
--transition : all, .4s;
}




/* -------------------------------- */
html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
.body {
  background: var(--general-bg);
  font-size: 16px;
  font-weight: 400;
}
.body--opened-menu {
  overflow: hidden;
}
.main {
  flex-grow: 1;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width:  1950px;
  margin: 0 auto;

  height: 100%;
}
.title {
  font-family: 'Oswald';
}
.button {
  background: var(--accent-bg);
  padding: 23px 61px;
  border-left: 4px solid var(--accent-text);
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 500;
  transition: var(--transition);
}

.button:hover {
  background: var(--accent-text);
  border-left: 4px solid var(--accent-bg);
  color: var(--general-bg);

}
.logo {
  max-width: 198px;
  z-index: 12;
}

.logo img {
  width: 100%;
}
