html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background: var(--general-bg);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  padding: var(--container-padding);
  margin: 0 auto;
  height: 100%;
}

.title {
  font-family: var(--accent-font);
  font-weight: 500;
  font-size: 16px;
}
  .bi {
    color: var(--icon-color);
    font-size: 18px;
  }
  .bi-instagram, .bi-facebook{
    transition: var(--transition);
  }
  .bi-instagram:hover, .bi-facebook:hover{
    opacity: .6;
  }