  body {
    font-family: Arial, sans-serif;
    font-weight: 900;
    
  }

  caption {
    padding: 10px 0 20px 0;
    border: 1px solid #000;
    border-bottom: none;
    height: 20px;
    font-size: 24px;

  }

  table {
    border-collapse: collapse;
    margin: 20px auto;
  }

  th, td {
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
  }

  .weekend {
    color: red;
  }